<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/homepage.css">
  <title>RanmITS</title>
</head>

<body>
  <%- include('partials/navbar') -%>
  <div class="homepage">
    <img class="shield" src="/images/shield.png" alt="">
    <div class="content-1">
      <p class="content-1-title">
        Temukan Kembali Kendaraan yang Hilang dengan <span>Mudah</span>
      </p>
      <p class="content-1-body">
        Kehilangan kendaraan Anda? Kami tahu perasaan itu, dan kami hadir untuk membantu menemukan kembali
        kendaraan anda!
      </p>
      <a href="/laporan-kehilangan-page" style="text-decoration: none;">
        <button class="laporkan-kehilangan-button" style="border: 0;">
          <img src="/images/exclamation-circle.png" alt="" width="24px" height="24px">
          <p>Laporkan Kehilangan</p>
        </button>
      </a>
    </div>
    <div class="announcement">
      <img src="/images/speakerphone.png" alt="">
      <div>
        <p>Selalu letakkan kendaraan anda pada tempat parkir yang sesuai dan gunakan kunci ganda sebelum
          meninggalkan kendaraan</p>
      </div>
    </div>
    <div class="content-2">
      <div class="title-wrap">
        <p class="title">
          Yuk! Perhatikan Keamanan Kendaraanmu
        </p>
        <p class="sub-title">Berikut kami hadirkan data kejadian kehilangan kendaraan sebagai upaya
          meningkatkan
          kewaspadaan anda!
        </p>
      </div>
      <div class="data-kejadian-card">
        <div class="title">
          <p class="title-text">Data Kejadian Kehilangan Kendaraan</p>
          <p class="date">
            April 2023
          </p>
        </div>
        <div class="sub-title">
          <div class="jumlah-kejadian-box">
            <p class="case-number">
              6
            </p>
            <p>
              Kejadian
            </p>
          </div>
          <div class="kasus-menigkat-box">
            <img src="/images/kasus-meningkat-box.png" alt="" height="32px" ; width="147px">
          </div>
        </div>
      </div>
    </div>
    <div class="content-3">
      <p class="title">Daftar Laporan Kendaraan Hilang</p>
      <div class="category">
        <div class="semua">
          <p>Semua</p>
        </div>
        <div class="motor">
          <p>Motor</p>
        </div>
        <div class="mobil">
          <p>Mobil</p>
        </div>
      </div>
      <%lostVehicle.forEach((index)=>{%>
      <div class="laporan-kehilangan-card">
        <form class="detailedVehicleId" action="/detailedVehicleId" method="post">
          <input type="hidden" value="<%=index._id%>" name="detailedVehicleId">
          <button type="post">
            <img class="vehicle-image" src="data:image/<%=index.vPhoto.contentType%>;base64,
            <%=index.vPhoto.data.toString('base64')%>" />
          </button>
        </form>
        <div class="informasi-kendaraan">
          <p class="plat-nomor"><%=index.vNumber%></p>
          <div class="informasi-kendaran-details">
            <div class="details">
              <img class="tag" src="/images/tag.png" alt="">
              <p class="deskripsi-title">
                Deskripsi Kendaraan
              </p>
              <p class="isi-deskripsi"><%=index.vModel%> | Warna <%=index.vColor%> | <%=index.vYears%></p>
            </div>
            <div class="details">
              <img class="clock" src="/images/clock.png" alt="">
              <p class="deskripsi-title">
                Waktu Kejadian
              </p>
              <p class="isi-deskripsi">
                <%=index.lostTime%>
                , di <%=index.lostLocation%></p>
            </div>
            <div class="details">
              <img class="loc" src="/images/location-marker.png" alt="">
              <p class=" deskripsi-title">
                Deskripsi Tambahan
              </p>
              <p class="isi-deskripsi"><%=index.description%></p>
            </div>
          </div>
        </div>
        <img class="tombol-hubungi-pemilik" src="/images/tombol_hubugi_pemilik.png" alt="">
      </div>
      <%});%>
    </div>
    <%- include('partials/footer')-%>
  </div>
</body>